h1{
    margin-bottom: 1.5rem;
}

.table-div{
    padding: 60px 0px;
}

.title{
    margin: 20px 0px;
    text-align: center;
}

.set-role-page-div{
    max-width: 700px;
    padding: 80px 0px;

}

.card-img, .card-img-top {
    max-height: 250px;
}

table, tr, th, td {
    border: 1px solid black;
}




