<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../bootstrap.min.css">
    <link rel="stylesheet" href="../style.css">

    <title></title>

</head>

<body>

<header th:insert="navigation :: header"></header>

<div class="container table-div">
    <h1 class="title">Add New Product</h1>
    <div class="col-md-12 col-sm-12 col-12">
        <div class="card h-100">
            <div class="card-body">
                <form action="/addProduct" method="POST">
                    <div class="row gutters" id="fields">
                        <div class="col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="name">
                                    <h6 class="text-primary">Name</h6>
                                </label>
                                <input type="text" class="form-control" name="name" id="name" placeholder="" minlength="1" maxlength="45" required>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="price">
                                    <h6 class="text-primary">Price</h6>
                                </label>
                                <input type="text" class="form-control" name="price" id="price" placeholder="" minlength="1" maxlength="45" required>

                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="imageURL">
                                    <h6 class="text-primary">Image URL</h6>
                                </label>
                                <input type="text" class="form-control" name="imageURL" id="imageURL" placeholder="" required>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="category">
                                    <h6 class="text-primary">Category</h6>
                                </label>
                                <select class="custom-select" name="category" id="category">
                                    <option value="HARDWARE" class="">Hardware</option>
                                    <option value="MODERATOR" class="" >Moderator</option>
                                    <option value="OTHER" class="">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="supplierId">
                                    <h6 class="text-primary">Supplier</h6>
                                </label>
                                <select class="custom-select" name="supplierId" id="supplierId">
                                    <option th:each="supplier : ${suppliers}" th:value="${supplier.getId()}" th:text="${supplier.getFirstName() + ' '+supplier.getLastName()}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="startDiscount">
                                    <h6 class="text-primary">Start Discount</h6>
                                </label>
                                <input type="date" class="form-control" name="startDiscount" id="startDiscount" placeholder="" min="1997-01-01" max="2030-12-31">
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="endDiscount">
                                    <h6 class="text-primary">End Discount</h6>
                                </label>
                                <input type="date" class="form-control" name="endDiscount" id="endDiscount" placeholder="" min="1997-01-01" max="2030-12-31">
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="discount">
                                    <h6 class="text-primary">Discount in percents</h6>
                                </label>
                                <input type="number" class="form-control" name="discount" id="discount" placeholder="" minlength="1" maxlength="125">
                            </div>
                        </div>
                    </div>
                    <div>
                        <input class="btn btn-primary btn-addContact float-right" type="submit" value="Add Product">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
<script src="script.js"></script>
</body>

</html>