<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	crossorigin="anonymous">
  <link href="css/stylee.css" rel="stylesheet">

</head>

<body>
    <!-- Navbar Start -->
    <div class="container-fluid p-0">
      <nav class="navbar navbar-expand-lg bg-light navbar-light py-0 px-3 py-lg-1 px-lg-1">
      <h1 class="m-0 display-5 text-uppercase text-primary">Store</h1>


            <a href = "index.html">
            <button type="submit">Logout</button>
            </a>

                <a href = "products.html">
                    <button type="submit">Products</button>
                </a>

                <a href = "suppliers.html">
                    <button type="submit">Suppliers</button>
                </a>

                <a href = "statistics.html">
                    <button type="submit">Statistics</button>
                </a>
    </div>
    <!-- Navbar End -->


    <!-- Header Start -->
    <h1>Register Clients</h1>
    <div class="form">
        <form method="post" action="/register" th:object="${registerRequest}">
            <div class="input-box">
                <i class="fa fa-user" aria-hidden="true"></i>
                <input type="text" name="firstName" placeholder="First name" required>
            </div>
            <div class="input-box">
                <i class="fa fa-user" aria-hidden="true"></i>
                <input type="text" name="lastName" placeholder="Last name" required>
            </div>
            <div class="input-box">
                <i class="fa fa-user" aria-hidden="true"></i>
                <input type="text" name="username" placeholder="Username" required>
            </div>
            <div class="input-box">
                <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <div class="input-box">
                <input type="submit" name="sign-in" value="Register">
            </div>
        </form>
    </div>
    <!-- Header End -->


</body>

</html>
