<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../bootstrap.min.css">
    <link rel="stylesheet" href="../style.css">
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="../script.js"></script>


    <title>Trading system</title>


</head>
     <!-- Navbar Start -->
     <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5">
            <a href="index.html" class="navbar-brand ml-lg-3">
                
            </a>
        

                         
            <a href = "index.html">
                <button type="submit">Logout</button>
                
            </a>
                <a href = "user.html">
                    <button type ="submit" >Return</button>
                </a>          

                          </select>
                        </form>
                      </div>
                    </div>
                </div>

            </div>
        </nav>
    </div>
<style>
    
table, th, td {
  border:1px solid black;
}
</style>
<body onload="loadProduct()">


<header th:insert="navigation :: header"></header>

<div class="container users-table-div ">

    <h2 class="users-title">Shopping cart</h2>

    <table class="table table-hover table-light">
        <thead class="bg-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Count</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody id="products">


        </tbody>

    </table>


    <p>Price: <div id="price">0</div> lv.</p>

    <div class="text-center mt-3"><a class="btn btn-outline-dark mt-auto btn-success text-white" onclick="buy()" sec:authorize="isAuthenticated()" href="#">Buy</a></div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
</body>
</html>

