<!DOCTYPE html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
</head>

<body>

  <nav class="navbar navbar-expand-lg bg-light navbar-light py-0 px-3 py-lg-1 px-lg-1">
          <h1 class="m-0 display-5 text-uppercase text-primary">Store</h1>
          <nav class="navbar navbar-expand-lg bg-light navbar-light py-0 px-3 py-lg-1 px-lg-1">
</nav>
  <a href = "moderator.html">
      <button type="submit">Back</button>
  </a>
 </nav>



	<div class = "container">
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center"> Update Supplier </h1>
				<div class = "card-body">
					<form th:action="@{/suppliers/{id} (id=${supplier.id})}" th:object = "${supplier}" method="POST">
						<div class ="form-group">
							<label> Supplier First Name </label>
							<input
							type = "text"
							name = "first name"
							th:field = "*{first name}"
							class = "form-control"
							placeholder="Enter Supplier First Name"
							/>
						</div>

						<div class ="form-group">
							<label> Supplier Last Name </label>
							<input
							type = "text"
							name = "last name"
							th:field = "*{last name}"
							class = "form-control"
							placeholder="Enter Supplier Last Name"
							/>
						</div>

						<div class = "box-footer">
							<button type="submit" class = "btn btn-primary">
								Submit
							</button>
						</div>
					</form>

			</div>
		</div>
	</div>
</body>
</html>
