<!DOCTYPE html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
</head>
<body>
	
		<nav class="navbar navbar-expand-lg bg-light navbar-light py-0 px-3 py-lg-1 px-lg-1">
					<h1 class="m-0 display-5 text-uppercase text-primary">Store</h1>
					<nav class="navbar navbar-expand-lg bg-light navbar-light py-0 px-3 py-lg-1 px-lg-1">
</nav>
	<a href = "admin.html">
			<button type="submit">Back</button>
	</a>
 </nav>

	<div class = "container">
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center"> Update User </h1>
				<div class = "card-body">
					<form th:action="@{/users/{id} (id=${user.id})}" th:object = "${user}" method="POST">
						<div class ="form-group">
							<label> user First Name </label>
							<input
							type = "text"
							name = "firstName"
							th:field = "*{firstName}"
							class = "form-control"
							placeholder="Enter User First Name"
							/>
						</div>

						<div class ="form-group">
							<label> User Last Name </label>
							<input
							type = "text"
							name = "lastName"
							th:field = "*{lastName}"
							class = "form-control"
							placeholder="Enter User Last Name"
							/>
						</div>

						<div class ="form-group">
							<label> Username </label>
							<input
							type = "text"
							name = "Username"
							th:field = "*{Username}"
							class = "form-control"
							placeholder="Enter Username"
							/>
						</div>

						<div class = "box-footer">
							<button type="submit" class = "btn btn-primary">
								Submit
							</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</body>
</html>
